@mixin animation(
    $name, 
    $duration: 1s,
    $iteration-count: 1,
    $timing-function: ease,
    $delay: 0s,
    $direction: normal,
    $fill-mode: forwards
) {
    animation: {
        name: $name;
        duration: $duration;
        iteration-count: $iteration-count;
        delay: $delay;
        timing-function: $timing-function;
        fill-mode: $fill-mode;
    }
}