@use 'index' as *;

.header {
    margin: 60px 0 15px 0;
    padding: 0 10px;

    & .site-title {
        width: 180px;

        & > img {
            display: block;
            width: 100%;
        }
    }
}

.mainvisual {
    margin-bottom: $sectinMgBottom;
}

.index {
    padding: 30px 20px;
    margin-bottom: $sectinMgBottom - 40px;
    
    & .section-title {
        text-align: center;
        margin-bottom: 30px;
    }

    &__inner {
        background-color: rgb(246, 246, 246);
        padding: 40px 20px;
    }

    &__main {
        padding: 30px 15px;
        list-style-position: inside;
        border: 1px solid black;
    }

    &__item {
        margin-bottom: 10px;
        text-align: center;
    }
}


.photos {
    padding: 30px 20px;
    margin-bottom: $sectinMgBottom;

    &__main {
        padding: 0px;
    }

    &__item {
        list-style: none;
        margin-bottom: 20px;

        & > img {
            width: 100%;
        }
    }
}